/* - - - - - - - - - - - - - - - - - - - - -
El Canasto stylesheet
URL : http://canasto.es

To be used in combination with Foundation

Last Updated: <$mt:Date format="%Y.%m.%d"$>
- - - - - - - - - - - - - - - - - - - - - */

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Mono Social Icons Font';
		src: url('/templates/font/MonoSocialIconsFont-1.10.eot');
		src: url('/templates/font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
				 url('/templates/font/MonoSocialIconsFont-1.10.woff') format('woff'),
				 url('/templates/font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
				 url('/templates/font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
		src: url('/templates/font/MonoSocialIconsFont-1.10.ttf') format('truetype');
}
body {
	background-color: #f3f5f6;
	font-weight: 300;
	font-family: open-sans, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: bree-serif, sans-serif;
}
p {
	text-align: justify;
	font-weight: 300;
}
p.center {
	text-align: center;
}
a,
a:hover,
a:focus {
	color: 74489D;
}
strong,
b {
	font-weight: 600;
}
blockquote,
blockquote p {
	color: #194BA0;
	font-style: italic;
}
q {
	font-style: italic;
}
q em {
	font-style: normal;
}
textarea {
	height: auto;
}
footer {
	margin-top: 2em;
	padding-top: 3em;
	border-top: 1px solid #68831C;
	background-color: #acb911;
}
footer a,
footer a:hover,
footer a:focus,
footer a:active,
.reply a,
.reply a:hover,
.reply a:focus,
.reply a:active {
	color: #ffffff;
}
article a:hover,
article a:active,
footer a:hover,
footer a:active,
.related-entries a:hover,
.related-entries a:active {
	text-decoration: underline;
}
footer blockquote,
footer blockquote p,
footer blockquote cite {
	padding: 0;
	border-left: none;
	color: #ffffff;
	line-height: 1.6;
}
footer blockquote,
footer blockquote p {
	font-size: 1.21875em;
}
footer blockquote cite {
	font-size: 0.9em;
}
.top-bar {
	margin-bottom: 1.875em;
}
.callout1 {
	background: rgba(116,72,157,0.4);
}
.callout2 {
	background: rgba(241,120,174,0.5);
}
.callout3 {
	background: rgba(38,85,181,0.4);
}
.symbol,
a.symbol:before {
	font-family: 'Mono Social Icons Font';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.socialmedia .symbol {
		font-size: 200%;
}
.top-bar-section ul li > a {
	font-weight: 600;
}
.lead p {
	font-size: 1.21875em;
	line-height: 1.6;
}
.subscription img {
	display: block;
	margin: 0 auto;
}
div.aprendemas {
	float: left;
	width: 125px;
	height: 125px;
	line-height: 1.125;
}
.excerpt img {
	float: left;
	margin: 5px 20px 20px 0;
}
.excerpt h3 {
	font-size: 1.4375em;
}
.excerpt p {
	margin-bottom: 0;
}
h3.blog-15 {
	padding-left: 2.5em;
	background: url(/templates/img/link.png) no-repeat 16px top;
	font-weight: 300;
	font-family: open-sans, sans-serif;
}
.byline {
	font-style: italic;
	font-size: 0.875em;
}
.byline .vcard,
.comment .vcard {
	margin: 0;
	padding: 0;
	border: none;
}
.byline .vcard .fn {
	font-weight: 300;
	font-size: 1em; 
}
.panel.callout a {
	color: white;
}
.panel.callout .panel a {
	color: #acb911;
}
.panel.callout p a {
	text-decoration: underline;
}
.callout .panel h1,
.callout .panel h2,
.callout .panel h3,
.callout .panel h4,
.callout .panel h5, 
.callout .panel h6,
.callout .panel p {
color: 
#333333;
}
.cite {
	padding-top: 30px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.side-nav li.active > a:first-child {
	font-weight: 600;
}
.panel ul,
.panel ol {
	margin-left: 1.25em;
}
ol.comment-list {
	list-style: none;
}
img.gravatar {
	margin-bottom: 1em;
}
.meta p {
	font-size: 0.8125em;
}
.panel.callout .meta p a {
text-decoration: none;
}
footer .bottom {
	padding-top: 1em;
	background-color: #333333;
	color: #777777;
}
.bottom a {
	color: #666666;
}
.bottom a:hover {
	color: #777777;
}
.bottom .socialmedia a:hover {
	text-decoration: none;
}
