/* - - - - - - - - - - - - - - - - - - - - -
El Canasto stylesheet
URL : http://canasto.es

To be used in combination with Foundation

Last Updated: <$mt:Date format="%Y.%m.%d"$>
- - - - - - - - - - - - - - - - - - - - - */

@import url("<$mt:Link template="Stylesheet - Bigfoot"$>");
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Mono Social Icons Font';
		src: url('/templates/font/MonoSocialIconsFont-1.10.eot');
		src: url('/templates/font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
				 url('/templates/font/MonoSocialIconsFont-1.10.woff') format('woff'),
				 url('/templates/font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
				 url('/templates/font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
		src: url('/templates/font/MonoSocialIconsFont-1.10.ttf') format('truetype');
}
html, body {
	font-size: 18px;
}
body {
	background-color: #f3f5f6;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: bree-serif, sans-serif;
}
p {
	text-align: justify;
	font-weight: 300;
}
p.center {
	text-align: center;
}
a {
	color: #7411BB;
}
a:hover,
a:focus {
	color: #8522CC
}
strong,
b,
.button {
	font-weight: 600;
}
blockquote,
blockquote p {
	color: #2678C5;
	font-style: italic;
}
q {
	font-style: italic;
}
q em {
	font-style: normal;
}
textarea {
	height: auto;
}
footer {
	margin-top: 2em;
	padding-top: 3em;
	border-top: 1px solid #666C15;
	background-color: #acb911;
}
footer a,
footer a:hover,
footer a:focus,
footer a:active,
.reply a,
.reply a:hover,
.reply a:focus,
.reply a:active,
.panel.callout .reply a,
.panel.callout .reply a:hover,
.panel.callout .reply a:focus,
.panel.callout .reply a:active {
	color: #ffffff;
}
article a:hover,
article a:active,
footer a:hover,
footer a:active,
.related-entries a:hover,
.related-entries a:active {
	text-decoration: underline;
}
footer blockquote,
footer blockquote p,
footer blockquote cite {
	padding: 0;
	border-left: none;
	color: #ffffff;
	line-height: 1.6;
}
footer blockquote,
footer blockquote p {
	font-size: 1.21875em;
}
footer blockquote cite {
	font-size: 0.9em;
}
.top-bar {
	margin-bottom: 1.875em;
}
.top-bar li.name img {
	margin-bottom: 10px
}
.callout1 {
	background-color: #2678c5;
}
.callout2 {
	background-color: #7411bb;
}
.callout3 {
	background-color: #ff8881;
}
.callout1, .callout2, .callout3 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.callout1 h2,
.callout2 h2,
.callout3 h2,
.callout1 p,
.callout2 p,
.callout3 p,
.callout1 ul,
.callout2 ul,
.callout3 ul,
.callout1 ol,
.callout2 ol,
.callout3 ol {
	color: #ffffff;
}
.subscribe {
	background-color: #acb911;
	margin-bottom: 2rem;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
}
.subscribe:hover {
	background-color: #2678c5;
}
.subscribe > .row {
	background: url(/templates/img/newsletter.png) 30px center no-repeat;
}
.subscribe h2 {
	font-family: source-sans-pro, sans-serif;
	font-size: 1.2rem;
	color: #213221;
	font-weight: 600;
	margin-top: 0.5rem;
	margin-bottom: 0;
}
.subscribe p {
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}
.subscribe form {
	margin: 0;
}
.subscribe input {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.subscribe input[type="submit"] {
	position: absolute;
	width: 100px;
	height: 100px;
	top: -30px;
	left: auto;
	right: 0px;
	background: url(/templates/img/button-submit.png) center no-repeat;
	border: 0px;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
}
.subscribe input[type="submit"]:hover,
.subscribe:hover input[type="submit"] {
	background: url(/templates/img/button-submit-hover.png) center no-repeat;
}
.symbol,
a.symbol:before {
	font-family: 'Mono Social Icons Font';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.socialmedia .symbol {
		font-size: 200%;
}
.top-bar-section ul li > a {
	font-weight: 600;
}
.lead p {
	font-size: 1.21875em;
	line-height: 1.6;
}
.subscription img {
	display: block;
	margin: 0 auto;
}
div.aprendemas {
	float: left;
	width: 125px;
	height: 125px;
	line-height: 1.125;
}
img.press {
	float: right;
	margin: 5px 0 20px 20px;
}
.excerpt img {
	float: left;
	margin: 5px 20px 20px 0;
}
.excerpt h3 {
	font-size: 1.4375em;
}
.excerpt p {
	margin-bottom: 0;
}
h3.blog-15 {
	padding-left: 2.5em;
	background: url(/templates/img/link.png) no-repeat 16px top;
	font-weight: 300;
	font-family: source-sans-pro, sans-serif;
}
.byline {
	font-style: italic;
	font-size: 0.875em;
}
.byline .vcard,
.comment .vcard {
	margin: 0;
	padding: 0;
	border: none;
}
.byline .vcard .fn {
	font-weight: 300;
	font-size: 1em; 
}
.callout .panel h1,
.callout .panel h2,
.callout .panel h3,
.callout .panel h4,
.callout .panel h5, 
.callout .panel h6,
.callout .panel p {
color: 
#333333;
}
.cite {
	padding-top: 30px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.side-nav li.active > a:first-child:not(.button) {
	font-weight: 600;
	color: #213221;
}
.panel ul,
.panel ol {
	margin-left: 1.25em;
}
ol.comment-list {
	list-style: none;
}
img.gravatar {
	margin-bottom: 1em;
}
.meta p {
	font-size: 0.8125em;
}
.panel.callout .meta p a {
text-decoration: none;
}
footer .bottom {
	padding-top: 1em;
	background-color: #333333;
	color: #777777;
}
.bottom a {
	color: #666666;
}
.bottom a:hover {
	color: #777777;
}
.bottom .socialmedia a:hover {
	text-decoration: none;
}
[data-magellan-expedition], [data-magellan-expedition-clone] {
    background: #f3f5f6;
}
.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
	color: #213221;
	font-weight:600;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	font-weight: 600;
}
.footnotes {
	border-top: 1px solid #acb911;
	padding-top: 10px;
	font-style: italic;
}
.footnotes li, .footnotes p {
	font-size: 14px;
}
