<mt:SetVarBlock name="title"><$mt:PageTitle encode_html="1"$> - <$mt:BlogName encode_html="1"$></mt:SetVarBlock>
<$mt:Include module="Header" parent="1"$>

<article class="container page">
  <div class="row">
    <div class="eightcol">
      <h1><$mt:PageTitle$></h1>
    </div>
    <div class="fourcol last">
<mt:BlogParentWebsite> 
  <$mt:WebsiteID setvar="website_id"$> 
</mt:BlogParentWebsite> 
      <$mt:WidgetSet name="Pages widgets" blog_id="$website_id"$>
    </div>
  </div>
  <div class="row">
    <div class="twelvecol last">
      <$mt:PageBody$>
<mt:If tag="PageMore" convert_breaks="0">
      <div id="more">
        <$mt:PageMore$>
      </div>
</mt:If>
    <mt:Include module="Commenting"&>
    </div>
  </div>
</article>

<$mt:Include module="Footer" parent="1"$>
