<mt:if tag="EntryHTMLTitle" ne="">
<mt:SetVarBlock name="title"><$mt:EntryHTMLTitle remove_html="1"$></mt:SetVarBlock>
<mt:else>
<mt:SetVarBlock name="title"><$mt:EntryTitle encode_html="1"$></mt:SetVarBlock>
</mt:if>
<mt:SetVarBlock name="html_head">
  <meta name="description" content="<$mt:EntryExcerpt$>" />
  <mt:EntryIfTagged>
  <meta name="keywords" content="<mt:EntryTags glue=", "><$mt:TagName$></mt:EntryTags>" />
  </mt:EntryIfTagged>
  <link rel="canonical" href="<$mt:EntryPermalink$>"/>
  <$mt:EntryTrackbackData$>
  <mt:If tag="AuthorDataGoogle">
  <link rel="author" href="<mt:AuthorDataGoogle>" />
  </mt:If>
</mt:SetVarBlock>
<$mt:Include module="Header" parent="1"$>

<div class="container">
  <div class="row">
    <article class="eightcol">
      <h1><$mt:EntryTitle encode_html="1"$></h1>
      <p class="byline">Por <span class="author vcard"><a class="url fn n" href="<$mt:EntryAuthorURL$>" title="<$mt:EntryAuthorDisplayName encode_html="1"$>"><$mt:EntryAuthorDisplayName$></a></span> <span class="text">el</span> <abbr class="published" title="<$mt:EntryDate format_name="iso8601"$>"><$mt:EntryDate format="%x"$></abbr></p>
      <$mt:EntryBody$>
      <$mt:EntryMore$>

<mt:IfNonEmpty tag="authordatabio">
      <div class="author-profile vcard">
        <img src="<mt:If tag="AuthorUserpicURL"><$mt:AuthorUserpicURL$><mt:Else><$mt:StaticWebPath$>images/default-userpic-90.jpg</mt:If>" width="90" height="90" alt="<$mt:AuthorDisplayName encode_html="1"$>" />
        <h2><a href="<$mt:AuthorURL$>"><$mt:AuthorDisplayName$></a></h2>
        <p><$mt:authordatabio$></p>
      </div>
</mt:IfNonEmpty>

<mt:EntryIfTagged>
      <div class="related-entries">
        <h3>Posts relacionados</h3>
        <ul>
  <mt:RelatedEntries weight="idf" lastn="5">
          <li><a href="<$mt:EntryPermalink$>"><mt:EntryTitle /></a></li>
  </mt:RelatedEntries>
        </ul>
      </div>
</mt:EntryIfTagged>

      <mt:Include module="Commenting"&>
    </article>
    <aside class="fourcol last">
<mt:BlogParentWebsite> 
  <$mt:WebsiteID setvar="website_id"$> 
</mt:BlogParentWebsite> 
      <$mt:WidgetSet name="Blog widgets" blog_id="$website_id"$>
    </aside>
  </div>
</div>

<$mt:Include module="Footer" parent="1"$>
