# Modified on: <$mt:Date format="%Y.%m.%d"$>

RewriteEngine on
RewriteBase /home/aino/public_html/canasto

<mt:Ignore>Disable directory browsing</mt:Ignore>
Options -Indexes

<mt:Ignore>Old files are gone – nothing is permanent</mt:Ignore>
RewriteRule ^acerca\-de\/ /acerca-de-el-canasto/ [R=permanent,L]
RewriteRule ^archivos\/ - [G,L]
RewriteRule ^site\/atom$ /feed/index.xml [R=permanent,L]
RewriteRule ^site\/ - [G,L]
RewriteRule ^gtd\/ - [G,L]
RewriteRule ^software\/ - [G,L]
RewriteRule ^organizateconeficacia\/ - [G,L]
RewriteRule ^atom\.xml$ /feed/index.xml [R=permanent,L]
RewriteRule ^comentarios\.xml /feed/comentarios.xml [R=permanent,L]
RewriteRule ^productividad\.xml /feed/productividad.xml [R=permanent,L]
RewriteRule ^wp-content\/uploads - [G,L]
RewriteRule ^(.*)/index.(php|html) /$1/ [R=permanent,L]
RewriteRule ^assets\/2minutos\.png$ /assets/2minutos.jpg [R=permanent,L]
RewriteRule ^assets\/2minutos\-portable\.png$ /assets/2minutos.jpg [R=permanent,L]
RewriteRule ^servicios\/curso\-presencial\-de\-productividad\-personal\/ - [G,L]

<mt:Ignore>Redirect requests for canasto.ai-no.com</mt:Ignore>
RewriteCond %{HTTP_HOST} ^(www\.)?canasto\.ai\-no\.com [NC]
RewriteRule ^(.*) http://canasto.es/ [L,R=permanent]

<mt:Ignore>Redirect requests for www.canasto.es to canasto.es</mt:Ignore>
RewriteCond %{HTTP_HOST} ^www.canasto.es
RewriteRule ^(.*)$ http://canasto.es/$1 [R=301,L]

<mt:Ignore>Redirect feed request to feedBurner</mt:Ignore>
RewriteRule feed(\/)?$ http://feedproxy.google.com/canasto [R,L]

RewriteCond %{HTTP_USER_AGENT} !(FeedBurner|FeedValidator) [NC]
RewriteRule ^feed\/index\.xml$ http://feedproxy.google.com/canasto [R,L]

RewriteCond %{HTTP_USER_AGENT} !(FeedBurner|FeedValidator) [NC]
RewriteRule ^feed\/comentarios\.xml$ http://feedproxy.google.com/Canasto-Comentarios [R,L]

<mt:Ignore>Compress static data</mt:Ignore>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript application/javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch bMSIE !no-gzip !gzip-only-text/html

<mt:Ignore>Error documents</mt:Ignore>
ErrorDocument 400 /error/400/
ErrorDocument 401 /error/401/
ErrorDocument 403 /error/403/
ErrorDocument 404 /error/404/
ErrorDocument 410 /error/410/
ErrorDocument 500 /error/500/
