<article id="entry-<$mt:EntryID$>" class="excerpt hentry">
<mt:If tag="BlogID" eq="3">
  <mt:setvarblock name="thumbnail"><mt:EntryAssets type="image" lastn="1"><mt:CroppedAsset label="Excerpt Thumbnail" blog_id="3"><img class="thumbnail" src="<$mt:AssetURL$>" width="100" height="100" alt="<$mt:AssetLabel encode_html="1"$>" /><mt:else><mt:setvarblock name="w"><mt:AssetProperty property="image_width"></mt:setvarblock><mt:setvarblock name="h"><mt:AssetProperty property="image_height"></mt:setvarblock><img src="<mt:if name="w" gt="$h"><mt:AssetThumbnailURL width="100" square="1"$><mt:else><mt:AssetThumbnailURL height="100" square="1"$></mt:if>" class="thumbnail" alt="<$mt:AssetLabel encode_html="1"$>" /></mt:CroppedAsset></mt:EntryAssets></mt:setvarblock>
  <mt:if name="thumbnail"><a href="<$mt:EntryPermalink$>"><$mt:var name="thumbnail"$></a></mt:if>
</mt:If>
  <h1 class="blog-<$mt:BlogID$>"><a href="<$mt:EntryPermalink$>" title="<$mt:EntryTitle encode_html="1"$>" rel="bookmark"><$mt:EntryTitle encode_html="1"$></a></h1>
<mt:If tag="BlogID" eq="3">
  <p class="entry-summary"><$mt:EntryExcerpt words="25" smarty_pants="1"$></p>
</mt:If>
</article>