  <footer class="container">
    <div class="row search">
      <div class="twelvecol">
        <form method="get" action="http://duckduckgo.com/">
          <input type="hidden" name="sites" value="canasto.es">
          <input size="40" type="search" name="q" id="search" tabindex="7" placeholder="Buscar en El Canasto..." />
          <input type="hidden" name="kl" value="es-es" />
          <input type="hidden" name="kj" value="d" />
          <input type="hidden" name="kt" value="h" />
          <input type="hidden" name="k3" value="ElCanasto" />
          <input type="hidden" name="k1" value="-1" />
          <input type="hidden" name="k8" value="#333333" />
          <input type="hidden" name="k9" value="#AD6CEB" />
          <input type="hidden" name="kq" value="n" />
          <input type="hidden" name="k4" value="-1" />
          <input class="search-submit button" name="submit" type="submit" id="search-submit" tabindex="8" value="Buscar" />
        </form>
      </div>
    </div>
  <mt:Ignore>
    Widget subscribe
    Widget about Jeroen
  </mt:Ignore>
    <div class="row copyright">
      <div class="twelvecol">
        <a href="<$MTBlogCCLicenseURL$>">Todos los derechos reservados</a> &copy; Jeroen Sangers 2006 – <mt:Entries include_blogs="3" lastn="1"><$mt:EntryDate format='%Y'$></mt:Entries> | <a href="http://canasto.es/aviso-legal/">Aviso legal</a>
      </div>
    </div>
  <mt:Ignore>
  	<div style="display: none;"><a href="http://mt.ai-no.com/approachinvestment.cgi">piedmont-secondrate</a></div>
  </mt:ignore>
  <mt:Ignore>
    Para crear este web he usado Brytenet, Movable Type, Pixelmator, Transmit, TextWrangler, café y mucha ilusión
  </mt:Ignore>
  </footer>
<mt:Unless name="NoSocial">
<mt:Ignore><!–Facebook Scripts–></mt:Ignore>
	<div id="fb-root"></div>
	<script data-cfasync="true">(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=117771895047419";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">_ga.trackFacebook();</script>
<mt:Ignore><!– Twitter Scripts –></mt:Ignore>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <!– Google+ Scripts –>
  <script type="text/javascript">
    window.___gcfg = {lang: 'es'};
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</mt:Unless>
</body>

</html>
