# Robots file for El Canasto
# Author: Jeroen Sangers
# Created: 2007.09.12
# Last modification: <$mt:Date format="%Y.%m.%d"$>

<mt:Ignore>Default access</mt:Ignore>
User-agent: *
Disallow: /cgi-bin/
Disallow: /error/
Disallow: /includes/

<mt:Ignore>Sitemap location</mt:Ignore>
Sitemap: http://canasto.es/sitemap.xml
