/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
body {
  background: #f3f5f6 url(/img/bg.png) 0 0;
  color: #262621;
  font: normal normal 300 100%/1.5 "Open Sans", "Gill Sans","Gill Sans MT",Calibri,Sans-Serif;
}
h1, h2, h3, h4, h5, h6 {
  padding: 10px 16px 24px;
  padding: 0.625rem 1rem 1.5rem;
  color: #74489D;
  font-weight: 400;
  font-family: 'Bree Serif',"Arial Black",Gadget,sans-serif;
}
p {
  margin: 0 16px 16px;
  margin: 0 1rem 1rem;
  text-align: justify;
}
a,
a:visited  {
  color: #AD6CEB;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
a img {
  border: none;
}
blockquote {
  overflow: hidden;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  margin-left: 16px;
  margin-left: 1rem;
  padding-left: 50px;
  background: url(/img/quotes.gif) no-repeat scroll 10px 5px transparent;
  color: #57564a;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
}
blockquote p {
  margin-left: 0;
}
form {
  padding: 16px;
  padding: 1rem;
}
ul {
  margin: 0 32px 32px;
  margin: 0 2rem 2rem;
}
ol {
  margin: 0 32px 32px;
  margin: 0 2rem 2rem;
}
h1 {
  font-size: 32px;
  font-size: 2rem;
}
h2 {
  font-size: 24px;
  font-size: 1.5rem;
}
h3 {
  font-size: 18px;
  font-size: 1.125rem;
}
strong,
b {
  font-weight: 600;
}
q {
  font-style: italic;
}
pre {
  width: 100%;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  margin: 0 16px 16px;
  margin: 0 1rem 1rem;
  overflow: auto;
  border: 1px solid #808080;
}
code {
  padding: 0 3px;
  background: #c5b7d4;
  font: .9em Monaco, monospace, Courier, "Courier New";
}
input,
textarea {
  padding: 4px;
  font-size: 16px;
  font-size: 1rem;
}
form label {
  cursor: pointer;
}
.page {
  font-size: 18px;
  font-size: 1.125rem;
}
aside h1,
.offers h1,
.entries h1 {
  font-size: 24px;
  font-size: 1.5rem;
}
aside h2 {
  font-size: 18px;
  font-size: 1.125rem;
}
h1 a,
h1 a:visited {
  color: #ACB911;
}
aside ul,
article ul {
  list-style: none;
}
aside ul {
  margin: 0 32px 32px 0;
  margin: 0 2rem 2rem 0;
}
aside ul li,
article ul li {
  padding-left: 15px;
  background: url(/img/bullet.gif) no-repeat 0 6px;
  text-align: justify;
}
#header {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #68831C;
  background: #ACB911 url(/img/header-bg.png) 0 0;
}
#header img {
  margin-top: 16px;
}
nav {
  margin-top: 42px;
  margin-top: 2.625rem;
  text-transform: lowercase;
}
nav ul {
  float: right;
  list-style: none;
}
nav li {
  float: left;
  padding: 0 0 0 24px;
  padding: 0 0 0 1.5rem;
}
nav li a,
nav li a:visited {
  color: #FFF;
  text-shadow: #0E161B 2px 2px 3px;
  font-size: 18px;
  font-size: 1.125rem;
}
nav li a:hover,
nav li a:active {
  color: #EED9F9;
}
.pitch p {
  font-size: 18px;
  font-size: 1.125rem;
}
form#mc-embedded-subscribe-form {
  margin-right: auto;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 350px;
  width: 90%;
  text-align: center;
}
.pitch form,
.page form,
form.wufoo {
  clear: both;
  border: 1px solid #868670;
  border-radius: 5px;
  background: #bababa url(/img/bg-grey.png) 0 0;
  box-shadow: #262621 2px 2px 6px;
}
.offers {
  margin-top: 32px;
  margin-top: 2rem;
  border-top: 1px solid #090909;  
  background: #090909 url(/img/bg-offers.gif) repeat-x;
  color: #b1b094;
}
.offers h1 {
  color: #fff;
}
.offers img {
  padding: 5px;
  background-color: #fff;
}
.entries {
  margin-top: 32px;
  margin-top: 2rem;
}
.thumbnail {
  float: left;
  margin: 0 24px 10px 16px;
  margin: 0 1.5rem 0.625rem 1rem;
  padding: 4px;
  border: 1px solid #ccc;
  background: #fff;
}
.feature {
  float: left;
  margin: 0 15px 0 0;
  max-width: 230px;
  max-height: 200px;
  width: 230px;
  height: 200px;
  border: 5px solid #f3f5f6;
}
.excerpt {
  overflow: auto;
  padding-top: 10px;
  border-top: 1px solid #c5b7d4;
}
.featured {
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  background: #bababa url(/img/bg-grey.png) 0 0;
  font-size: 18px;
  font-size: 1.125rem;
}
.featured h1 {
  padding: 0 18px 18px;
  padding: 0 1.125rem 1.125rem;
  line-height: 1;
}
.featured h1 a,
.featured h1 a:visited {
  color: #74489D;
} 
.featured a,
.featured a:visited {
  color: #f3f5f6;
}
h1.blog {
  padding: 24px 16px 10px;
  padding: 1.5rem 1rem 0.625rem;
}
iframe {
  margin: 0 16px 16px;
  margin: 0 1rem 1rem;
}
aside iframe {
  margin: 0;
}
.byline {
  font-style: italic;
  font-size: 14px;
  font-size: 0.875rem;
}
.author-profile img {
  float: left;
  margin: 0 10px 10px 0;
  margin: 0 0.625rem 0.625rem 0;
  border: 4px solid #f3f5f6;
}
.author-profile h2{
  padding-top: 0;
  padding-bottom: 0;
  font-style: normal;
}
#comment-greeting {
  margin: 0 16px 16px;
  margin: 0 1rem 1rem;
}
#comments-open-data div,
form #comment-form-reply,
form #comment-form-subscribe {
  clear: left;
  padding: 5px 0 5px 0;
}
#comments-open-data label {
  display: block;
  float: left;
  padding-top: 4px;
  padding-right: 10px;
  width: 100px;
  text-align: right;
  font-weight: 600;
}
#comments-open-data input {
  float: left;
}
#comments-open-data #comment-form-remember-me,
form #comment-form-reply,
form #comment-form-subscribe {
  padding-left: 105px;
}
#comments-open-data #comment-form-remember-me label,
#comment-form-reply label,
#comment-form-subscribe label {
  position: relative;
  top: -3px;
  width: 250px;
  text-align: left;
  font-weight: 600;
}
div.aprendemas {
  float: left;
  width: 125px;
  height: 125px;
  line-height:18px;
  line-height:1.125rem;
}
.entries h1 {
  padding: 0 16px 16px;
  padding: 0 1rem 1rem;
  text-align: justify;
  line-height: 1;
}
h1.blog-15 {
  padding: 0 0 8px 40px;
  padding: 0 0 0.5rem 2.5rem;
  background: url(/img/link.png) no-repeat 16px top;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Open Sans", "Gill Sans","Gill Sans MT",Calibri,Sans-Serif;
}
.factbox,
.author-profile {
  margin: 0 16px 16px;
  margin: 0 1rem 1rem;
  padding: 10px;
  border: 1px solid #868670;
  border-radius: 5px;
  background: #bababa url(/img/bg-grey.png) 0 0;
  box-shadow: rgb(51,51,51) 2px 2px 10px;
  text-align: justify;
  font-style: italic;
  font-size: 18px;
  font-size: 1.125rem;
}
div.r {
  float: right;
}
div.l {
  float: left;
}
.factbox img {
  border: 4px solid #f3f5f6;
}
table.data {
  margin: 0 16px 16px;
  margin: 0 1rem 1rem;
}
.data th {
  padding: 6px 6px 6px 12px;
  border-top: 1px solid #C1DAD7;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #CAE8EA url(/img/table-header.jpg) no-repeat;
  color: #6D929B;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font: 600 11px "Open Sans","Gill Sans","Gill Sans MT",Calibri,Sans-Serif;
}
.data th.nobg {
  border-top: 0;
  border-right: 1px solid #C1DAD7;
  border-left: 0;
  background: none;
}
tr.odd  th {
  border-top: 0;    
  border-left: 1px solid #C1DAD7;
  background: #fff url(/img/table-bullet1.gif) no-repeat;
  font: 600 11px "Open Sans","Gill Sans","Gill Sans MT",Calibri,Sans-Serif;
}
tr.even th {
  border-top: 0;
  border-left: 1px solid #C1DAD7;
  background: #f5fafa url(/img/table-bullet2.gif) no-repeat;
  color: #B4AA9D;
  font: 600 11px "Open Sans","Gill Sans","Gill Sans MT",Calibri,Sans-Serif;
}
.data td {
  padding: 6px 6px 6px 12px;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  color: #6D929B;
  text-align: center;
  font: 11px "Open Sans","Gill Sans","Gill Sans MT",Calibri,Sans-Serif;
}
tr.even td {
  background: #F5FAFA;
  color: #B4AA9D;
}
div.iframe {
  position: relative;
  margin: 0 16px 16px;
  margin: 0 1rem 1rem;
  height: 0;
}
div.ratio169 {
  padding-bottom: 56.25%;
}
div.ratio43 {
  padding-bottom: 75%;
}
div.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
p.link {
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic; 
}
section.comments {
  border-top: 1px solid #c5b7d4;
}
ol.comment-list {
  margin: 0;
  list-style: none;
}
ol.comment-list ol.comment-list {
  margin-left: 32px;
  margin-left: 2rem;
}
li.comment {
  overflow: hidden;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  padding: 16px 16px 0 16px;
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid #c5b7d4;
  border-bottom: 1px solid #c5b7d4;
  background: #F7F7F7;
}
li.entry-author {
  background: #CAE8EA;
}
.meta,
.replybutton {
  margin: 0 16px 16px;
  margin: 0 1rem 1rem;
}
img.gravatar {
  float: right;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-left: 16px;
  margin-left: 1rem;
  border: 4px solid #FFF;
}
.sharebutton {
  float: left;
  margin: 0 5px;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.subscription {
  clear: both;
  border-radius: 5px;
  background: #ACB911 url(/img/header-bg.png) 0 0;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
}
.subscription h1 {
  color: #fff;
}
.subscription img {
  display: block;
  margin: 0 auto;
}
footer {
  margin-top: 32px;
  margin-top: 2rem;
  padding: 32px 20px;
  padding: 2rem 1.25rem;
  border-top: 1px solid #68831C;
  background: #ACB911 url(/img/header-bg.png) 0 0;
  text-align: center;
}
footer a,
footer a:visited {
  color: #FFF;
}
footer a:hover,
footer a:active {
  color: #EED9F9;
}
.search form {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  text-align: center;
}
#search-submit {
  visibility: hidden;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

body {

}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/* .logo {
background: url(logo2x.jpg) no-repeat;
background-size: 212px 303px; */

}