<section class="ads">
  <div class="aprendemas">
<mt:Ignore><mt:If name="main_index"></mt:Ignore>
    <strong>CURSOS Y FORMACI&Oacute;N</strong><br />
    <a href="http://www.aprendemas.com/" title="http://www.aprendemas.com/" onClick="_gaq.push(['_trackEvent', 'Ads', 'Aprendemas']);">Cursos</a><br />
    <a href="http://www.mastermas.com/" title="http://www.mastermas.com/" onClick="_gaq.push(['_trackEvent', 'Ads', 'Aprendemas']);">Masters</a><br />
    <a href="http://www.waytomba.com/" title="http://www.waytomba.com/" onClick="_gaq.push(['_trackEvent', 'Ads', 'Aprendemas']);">MBA</a><br />
    <a href="http://www.puntoidiomas.com/" title="http://www.puntoidiomas.com/" onClick="_gaq.push(['_trackEvent', 'Ads', 'Aprendemas']);">Idiomas</a>
<mt:Ignore><mt:Else>
    <script language="JavaScript" type="text/javascript" src="http://view.atdmt.com/IIM/jview/119928057/direct/01?click=">
    </script><noscript><a href="http://clk.atdmt.com/IIM/go/119928057/direct/01/" onClick="_gaq.push(['_trackEvent', 'Ads', 'Aprendemas']);"><img src="http://view.atdmt.com/IIM/view/119928057/direct/01/" /></a></noscript>
</mt:If></mt:Ignore>
  </div>
<mt:Ignore>El Impulso de la Mañana</mt:Ignore>
  <div class="ad"><a href="http://canasto.es/servicios/el-impulso-de-la-manana/" onClick="_gaq.push(['_trackEvent', 'Ads', 'Impulso']);"><img src="http://canasto.es/assets/ads/consultoria.png" alt="El Impulso de la Mañana" width="125" height="125" class="sponsor" /></a></div>
<mt:Ignore>Usa CCO</mt:Ignore>
  <div class="ad"><a href="http://usa-cco.com/" onClick="_gaq.push(['_trackEvent', 'Ads', 'Usa CCO']);"><img src="http://canasto.es/assets/ads/usa-cco.png" alt="Usa CCO" width="125" height="125" class="sponsor" /></a></div>
<mt:Ignore>Cómo tener éxito con tus buenos propósitos</mt:Ignore>
  <div class="ad"><a href="http://www.witcamp.com/cursos/como_tener_exito_con_tus_buenos_propositos" onClick="_gaq.push(['_trackEvent', 'Ads', 'Curso propósitos']);"><img src="http://canasto.es/assets/ads/webinar-propositos.jpg" alt="Curso online: Cómo tener éxito con tus buenos propósitos" width="125" height="125" class="sponsor" /></a></div>
<mt:Ignore>Gestiona eficazmente tu email</mt:Ignore>
  <div class="ad"><a href="http://www.witcamp.com/cursos/gestiona_eficazmente_tu_email" onClick="_gaq.push(['_trackEvent', 'Ads', 'Curso email']);"><img src="http://canasto.es/assets/ads/webinar-correo.jpg" alt="Curso online: Gestiona eficazmente tu email" width="125" height="125" class="sponsor" /></a></div>
<mt:Ignore>Premios Bitacoras
  <div class="ad"><a href="http://bitacoras.com/premios12/votar/0f183ceaa9fe1daf7a3ea32fde8d394ff72500e8" onClick="_gaq.push(['_trackEvent', 'Ads', 'Premios Bitacoras']);"><img src="http://static2.bitacoras.com/images/premios/2012/botones/120x80.gif" border="0" alt="Vota por El Canasto en los Premios Bitacoras.com" /></a></div>
</mt:Ignore>
</section>