<section class="feedcount">
<mt:BlogParentWebsite>
  <p><a href="<$mt:Link template="feed_recent"$>"><img src="http://canasto.es/img/rss_32x32.png" alt="Suscríbete al feed" width="32" height="32" /></a>&nbsp;<a href="<$mt:Link template="feed_recent"$>"><img src="http://feeds.uri.lv/canasto.png" height="24" width="77" alt="Lectores suscritos a El Canasto" /></a></p>
</mt:BlogParentWebsite>
</section>
