<section class="sections">
  <h1>Secciones</h1>
  <ul>
<mt:Categories include_blogs="3">
    <li class="cat-<$mt:CategoryID$>">
      <a href="<$mt:CategoryArchiveLink$>" title="<$mt:CategoryLabel encode_html="1"$>"><$mt:CategoryLabel$></a>
    </li>
</mt:Categories>
    <li><a href="http://canasto.es/links/">Links</a></li>
  </ul>
</section>
